services:
  # Backend API Server
  seedbox-backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: seedbox-backend
    restart: unless-stopped
    ports:
      - "${API_PORT}:3001"
    env_file:
      - .env
    volumes:
      - seedbox_data:/app/data
      - seedbox_cache:/app/cache
    networks:
      - seedbox-network

  # Frontend Web Server  
  seedbox-frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL="${SERVER_PROTOCOL}://${SERVER_ADDRESS}:${API_PORT}"
    container_name: seedbox-frontend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - seedbox-backend
    networks:
      - seedbox-network

volumes:
  seedbox_data:
    driver: local
  seedbox_cache:
    driver: local

networks:
  seedbox-network:
    #driver: bridge
